* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.row {
  margin-top: 40px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-3 {
  float: left;
  width: 33.3%;
}

.col-4 {
  float: left;
  width: 25%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 540px;
  /* margin: 0 auto; */
}

.img-fluid {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    margin: 0 auto;
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
    width: 1000px;
  }
}
